<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cafe Search</title>
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<style>
			#cafe-container {
				max-height: 700px;
				overflow-y: auto;
			}
		</style>
		<script
			type="text/javascript"
			src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=sfm21lh7ac"
		></script>
	</head>
	<body class="bg-gray-100 flex flex-col min-h-screen">
		<%- include('cafe-header.ejs') %>

		<main id="cafe-container" class="flex-grow container mx-auto p-4 max-w-5xl">
			<div id="near-cafes">
				<div class="flex items-center">
					<select id="radius-input" class="border p-2 mr-2">
						<option value="1" selected>1 km</option>
						<option value="2">2 km</option>
						<option value="3">3 km</option>
						<option value="4">4 km</option>
						<option value="5">5 km</option>
					</select>
					<button
						onclick="findNearbyCafes()"
						class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700"
					>
						주변 카페 찾기
					</button>
				</div>
			</div>
			<div id="map" class="my-4" style="width: 100%; height: 300px"></div>
		</main>

		<%- include('cafe-footer.ejs') %>
		<script src="/js/cafe-main.js"></script>
		<script src="/js/near-cafes.js"></script>
	</body>
</html>
