<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cafe Search</title>
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-gray-100 flex flex-col min-h-screen">
		<%-include ('cafe-header.ejs') %>

		<main
			id="cafe-container"
			class="flex-grow container mx-auto p-4 max-w-5xl"
		></main>

		<%-include ('cafe-footer.ejs')%>
	</body>
	<script src="/js/cafe-main.js"></script>
</html>
