<div id="map" style="width: 100%; height: 250px">
  <input type="hidden" id="cafe_name" value="<%= cafe.cafe_name %>" />
  <input type="hidden" id="latitude" value="<%= cafe.latitude %>" />
  <input type="hidden" id="longitude" value="<%= cafe.longitude %>" />
  <input
    type="hidden"
    id="connection_site"
    value="<%= cafe.connection_site %>"
  />
  <script src="/js/cafe-map.js"></script>
</div>
