<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cafe Oasis</title>
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>
	<body
		class="bg-gradient-to-r from-blue-200 to-blue-300 h-screen flex items-center justify-center"
	>
		<div
			class="text-center p-12 bg-white shadow-xl rounded-xl border border-blue-300"
		>
			<!-- Cafe Icon -->
			<div class="flex justify-center mb-4">
				<img src="oasis_logo.png" alt="Cafe Icon" class="h-16 w-16" />
				<!-- Replace with your icon's path -->
			</div>
			<h1 class="text-5xl font-extrabold text-blue-800 mb-6">
				<a href="/cafes">Cafe Oasis</a>
			</h1>
			<p class="text-blue-700 text-lg mb-8">
				Discover your oasis of tranquility
			</p>
			<a
				href="/auth/login"
				class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-3 px-6 rounded-full transition duration-300 ease-in-out"
			>
				Login
			</a>
		</div>
	</body>
</html>
