<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
  </head>
  <body>
    <div>
      <h2>로그인</h2>
      <% if (errorMessage) { %>
      <p style="color: red"><%= errorMessage %></p>
      <% } %>
      <form action="login" method="post">
        이메일:
        <input type="text" name="email" />
        <br />
        패스워드:
        <input type="password" name="password" />
        <br />
        <input type="submit" name="로그인" value="로그인" />
        <button type="button" onclick="location.href='/'">취소</button>
      </form>
    </div>
  </body>
</html>
