<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe Search - Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col items-center justify-center bg-gradient-to-r from-blue-200 to-blue-300 h-screen"
  >
    <div class="flex items-center justify-center mt-4 mb-2">
      <!-- Added margin-bottom for spacing -->
      <img src="/oasis_logo.png" alt="Cafe Logo" class="h-12 mr-4" />
      <span class="font-bold text-4xl text-gray-900">Cafe Oasis</span>
    </div>

    <section class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-md">
      <div class="mb-4">
        <h1 class="font-bold text-2xl text-gray-900 text-center">Login</h1>
        <p class="text-gray-700 text-sm text-center">
          Please sign in to search for your favorite cafe
        </p>
      </div>

      <form action="login" method="post" class="space-y-4">
        <div>
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="username"
          >
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="username"
            type="email"
            placeholder="abc@gmail.com"
            name="email"
          />
        </div>
        <div>
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="password"
            type="password"
            placeholder="******************"
            name="password"
          />
        </div>
        <div class="flex items-center justify-center">
          <label class="inline-flex items-center mr-4">
            <input type="radio" name="user_type" value="customer" checked />
            <span class="ml-2">고객</span>
          </label>
          <label class="inline-flex items-center">
            <input type="radio" name="user_type" value="employee" />
            <span class="ml-2">직원</span>
          </label>
        </div>
        <% if (errorMessage) { %>
        <div>
          <label class="block text-red-600 text-sm font-bold mb-2">
            <%= errorMessage %>
          </label>
        </div>
        <% } %>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded"
            type="submit"
          >
            Sign In
          </button>
          <div class="flex flex-col items-end">
            <a
              class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker"
              href="reset-password"
            >
              Forgot Password?
            </a>
            <a
              class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker"
              href="signup"
            >
              Signup?
            </a>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
