<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col items-center justify-center h-screen">
    <div class="flex items-center justify-center mt-4 mb-2">
      <img src="/oasis_logo.png" alt="Cafe Image" class="h-12 mr-4" />
      <h1 class="font-bold text-4xl text-gray-900">Cafe Oasis</h1>
    </div>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-md">
      <% if (!isReset) {%>
      <h2 class="text-2xl font-bold mb-6 text-center">Reset Your Password</h2>
      <div class="mb-6">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">
          Email
        </label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your email"
        />
        <hr />
        <br />
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">
          Name
        </label>
        <input
          type="text"
          id="name"
          name="name"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your name"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        onclick="sendEmailRandomUrl()"
      >
        Submit
      </button>
      <% } else {%>
      <h2 class="text-2xl font-bold mb-6 text-center">Reset Your Password</h2>
      <div class="mb-6">
        <label
          for="password"
          class="block text-gray-700 text-sm font-bold mb-2"
        >
          Password
        </label>
        <input
          type="password"
          id="password"
          name="password"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your password"
        />
        <hr />
        <br />
        <label
          for="re_passowrd"
          class="block text-gray-700 text-sm font-bold mb-2"
        >
          Retry Password
        </label>
        <input
          type="text"
          id="re_passowrd"
          name="re_passowrd"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Retry password"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        onclick="sendResetPassword()"
      >
        Submit
      </button>
      <% } %>
    </div>
    <script src="/js/reset_password.js"></script>
  </body>
</html>
