<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe Search - Sign Up</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col items-center justify-center h-screen">
    <div class="flex items-center justify-center mt-4 mb-2">
      <img src="/oasis_logo.png" alt="Cafe Image" class="h-12 mr-4" />
      <h1 class="font-bold text-4xl text-gray-900">Cafe Oasis</h1>
    </div>

    <hr class="border-gray-300 w-full max-w-md my-2" />

    <section class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-md">
      <form action="signup" method="post">
        <div class="mb-4">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="email"
          >
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="email"
            type="email"
            name="email"
            placeholder="abc@gmail.com"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="password"
            type="password"
            name="password"
            placeholder="Your Password"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="name"
          >
            Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="name"
            type="text"
            name="name"
            placeholder="Full Name"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="phone_no"
          >
            Phone Number
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="phone_no"
            type="text"
            name="phone_no"
            placeholder="Phone Number"
          />
        </div>
        <% if (errorMessage) { %>
        <div class="mb-4">
          <label class="block text-red-600 text-sm font-bold mb-2"
            ><%= errorMessage %></label
          >
        </div>
        <% } %>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded"
            type="submit"
          >
            Sign Up
          </button>
        </div>
      </form>
    </section>
  </body>
</html>
